@media only screen and (max-width: 1023px) {
    .article-core {
        font-size: 1em;
        font-weight: 400;
        /*Normal*/
        line-height: 1.75;
        color: $text-main;
        width: 100%;
        vertical-align: baseline;
    }
    /*====== Header styles ======*/
    .article-header {
        position: relative;
        margin: 0px 16px;
    }
    .article-header--h1 {
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        margin: 0px;
    }
    .article-header--h2 {
        font-size: 18px;
        font-weight: 400;
        color: $text-disable;
        line-height: 28px;
        margin: 2px 0px 0px 0px;
    }
    /*====== Header styles END ======*/
    /*====== Body styles ======*/
    .article-section {
        position: relative;
        margin: 56px 0px 0px 0px;
    }
    .article-section--h2 {
        font-size: 22px;
        font-weight: 400;
        margin: 48px 16px 0px 16px;
    }
    .article-section--h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 48px 16px 0px 16px;
    }
    .article-section--h4 {
        font-size: 16px;
        font-weight: 600;
        margin: 24px 16px 0px 16px;
    }
    .article-section--p {
        margin: 21px 16px 0px 16px;
    }
    .article-section--p a {
        color: $blue-main;
        text-decoration: underline;
        text-decoration-skip: ink;
        margin-left: 0.075em;
        margin-right: 0.075em;
        transition: ease 0.2s;
    }
    .article-section--p a:hover {
        color: $text-main;
        transition: ease 0.2s;
    }
    .article-section--block-quote {
        border-left: 3px solid $text-sub;
        padding: 0;
        margin: 0;
    }
    .article-section--block-quote p {
        color: $text-sub;
        margin: 21px 16px 0px 13px;
    }
    /*--- List styles ---*/
    .article-section--ol,
    .article-section--ul {
        list-style: none;
        padding: 0;
        margin: 0px 16px 0px 16px;
    }
    .article-section--ol ol,
    .article-section--ul ol,
    .article-section--ol ul,
    .article-section--ul ul {
        margin: 0px 0px 0px -8px;
    }
    .article-section--ol>li,
    .article-section--ul>li {
        margin-top: 24px;
        margin-left: 1.5em;
    }
    .article-section--ol>li li,
    .article-section--ul>li li {
        margin-top: 12px;
        margin-left: 1.5em;
    }
    .article-section--ol {
        counter-reset: olNumber;
    }
    .article-section--ol>li::before {
        counter-increment: olNumber;
        content: counter(olNumber) ".";
        display: block;
        margin-left: -1.5em;
        float: left;
    }
    .article-section--ul>li::before {
        content: "•";
        display: block;
        margin-left: -1.5em;
        float: left;
    }
    .article-section--ol>li li::before,
    .article-section--ul>li li::before {
        margin-left: -1.5em;
    }
    /*--- List styles END ---*/
    /*--- Figure styles ---*/
    .article-section--fig-full-column {
        position: relative;
        margin: 28px 0px;
    }
    .article-section--fig-full-column img {
        width: 100%;
        margin: auto;
    }
    /*--- Figure styles END ---*/
    /*--- Special text styles ---*/
    .text--url {
        word-break: break-all;
    }
    /*span[lang=en] {
	margin-left: 0.15em;
	margin-right: 0.15em;
}*/
    /*--- Special text styles END ---*/
    /*====== Body styles END ======*/
    /**
 * FALLBACK STYLES
 */
    article>header {
        position: relative;
        margin: 0px 16px;
        h1 {
            font-size: 22px;
            font-weight: 600;
            line-height: 32px;
            margin: 0px;
        }
        h2 {
            font-size: 18px;
            font-weight: 400;
            color: $text-disable;
            line-height: 28px;
            margin: 2px 0px 0px 0px;
        }
    }
    article>section {
        position: relative;
        margin: 56px 0px 0px 0px;
        h2 {
            font-size: 22px;
            font-weight: 400;
            margin: 48px 16px 0px 16px;
        }
        h3 {
            font-size: 18px;
            font-weight: 600;
            margin: 48px 16px 0px 16px;
        }
        h4 {
            font-size: 16px;
            font-weight: 600;
            margin: 24px 16px 0px 16px;
        }
        p {
            margin: 21px 16px 0px 16px;
        }
        p a {
            color: $blue-main;
            text-decoration: underline;
            text-decoration-skip: ink;
            margin-left: 0.075em;
            margin-right: 0.075em;
            transition: ease 0.2s;
        }
        p a:hover {
            color: $text-main;
            transition: ease 0.2s;
        }
        blockquote {
            border-left: 3px solid $text-sub;
            padding: 0;
            margin: 0;
        }
        blockquote p {
            @include relative-font-size(0.9);
            color: $text-sub;
            margin: 21px 16px 0px 13px;
        }
        /*--- FALLBACK List styles ---*/
        ol,
        ul {
            list-style: none;
            padding: 0;
            margin: 0px 16px 0px 16px;
        }
        ol ol,
        ul ol,
        ol ul,
        ul ul {
            margin: 0px 0px 0px -8px;
        }
        ol>li,
        ul>li {
            margin-top: 0px;
            margin-left: 1.5em;
        }
        ol>li li,
        ul>li li {
            margin-top: 0px;
            margin-left: 1.5em;
        }
        ol {
            counter-reset: olNumber;
        }
        ol>li::before {
            counter-increment: olNumber;
            content: counter(olNumber) ".";
            display: block;
            margin-left: -1.5em;
            float: left;
        }
        ul>li::before {
            content: "•";
            display: block;
            margin-left: -1.5em;
            float: left;
        }
        ol>li>li::before,
        ul>li>li::before {
            content: "▫︎";
            margin-left: -1.5em;
        }

        ol>li li::before,
        ul>li li::before {
            content: "▫︎";
            margin-left: -1.5em;
        }

        ol>li li li::before,
        ul>li li li::before {
            content: "⁃";
            margin-left: -1.5em;
        }
        /*--- FALLBACK List styles END ---*/
        /*--- FALLBACK Figure styles ---*/
        figure {
            position: relative;
            margin: 28px 0px;
        }
        figure img {
            display: block;
            width: 100%;
            margin: auto;
        }
        img {
            display: block;
            width: 100%;
            position: relative;
            margin: 28px 0px;
        }
    }
}
