---
layout: default
---

<main class="reading-list-container sticky-footer--main-wrap clearfix">
  <nav class="nav-side">
		<ul class="nav-side--list">
			<li class="nav-side--item">
        <!-- <a href="#my-subscr">我的订阅</a> -->
			</li>
			<li class="nav-side--item">
        <!-- <a href="#my-fav">我的收藏</a> -->
			</li>
		</ul>
	</nav>
  <div class="reading-list">
  			<ol class="post-list chinese-punct" lang="en">
          {% for post in site.posts %}
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <li class="post-list-item">
    					<article class="post-digest digest-without-thumb clearfix">

    						<h1 class="post-digest--h1"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
    						<p class="post-digest--excerpt"><a href="{{ post.url | relative_url }}">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</a></p>
    						<p class="post-digest--meta">
                  {% if post.author %}
                  <a href="#" class="post-digest--feed-name">{{ post.author }}</a><span class="vert-line">｜</span>
                  {% endif %}
    							<span class="post-digest--timestamp">{{ post.date | date: date_format }}</span>
    						</p>
    					</article>
    				</li>
          {% endfor %}
  			</ol>
  		</div>
</main>