---
layout: default
---
<main class="post-container sticky-footer--main-wrap clearfix">
  <article class="post-article article-core chinese-punct clearfix" lang="en">
    <!--Publish info-->
		<aside class="publish-info-card clearfix">
			<a class="publish-info-card--avatar-link" href="/">
        <img class="avatar-circle publish-info-card--avatar" src="/logo.jpg" alt="TL">
        {% if page.author %}
        <h4 class="publish-info-card--name">{{ page.author }}</h4>
        {% endif %}
      </a>
			<p class="publish-info-card--meta">
        {% if page.author %}
        <!-- <a href="#" class="publish-info-card--author-name">{{ page.author }}</a><span class="vert-line">｜</span> -->
        {% endif %}
				<span class="time-last-modified">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </span>
			</p>
		</aside>

    <!--Article Header-->
    <header class="article-header">
      <h1 class="article-header--h1">{{ page.title | escape }}</h1>
    </header>

    <!--Article Header-->
    <section class="article-section chinese-punct-md">
      {{ content }}
    </section>
  </article>
  <footer class="post-footer clearfix">
		<div class="clearfix">
			<nav class="post-footer--post-nav">
        {% if page.next %}
          <a href="{{ page.next.url }}" class="button-capsule post-footer--next-post"><span class="button-label next-post-label">{{ page.next.title }}</span><span class="button-arrow-right next-post-arrow"></span></a>
        {% endif %}
			</nav>
		</div>

    <div class="feed-card clearfix">
    </div>
	</footer>
</main>
